.header {
  // top header
  &-top {
    background-color: $color-dark;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: $color-white;
    }

    &-menu {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      font-size: 28px;
    }
  }

  // mid header
  &-mid {
    padding: 7px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.toggle {
      justify-content: center;
    }
    a {
      color: $color-black;
    }

    .toggle-btn {
      background-color: transparent;
      border: none;
      font-size: 22px;
      cursor: pointer;
    }

    .brand > a {
      text-align: center;
    }
  }

  // nav header
  &-nav {
    padding: 20px 12px;
    border: 1px solid $color-border;

    &-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      gap: 10px;

      &-link {
        padding: 20px;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}
